<!-- fragments\fragment-products.html -->
<li class="no-style-list MS-2-w100">
    <div data-product='{{product}}' data-category="{{category}}" tabindex="0" role="button"
        class="slct card-product column justify-between MS-2-w100" aria-label="Choisir {{name}} au prix de {{price}} €">
        <div class="img-card-product mAuto">
            <img src="{{image}}" alt="Représentation d'un {{name}} " aria-hidden="true">
        </div>
        <div class="text-card-product">
            <h3>{{name}}</h3>
            <p class="mT8">{{price}} €</p>
        </div>
    </div>
</li>